*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: $font-Montserrat;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  width: 100%;
  padding: 0 10rem;
  @include respond(desktop-big) {
    padding: 0;
  }
  @include respond(tab-small) {
    padding: 0 5rem;
  }
  @include respond(mobile) {
    padding: 0 2rem;
  }
}
