@mixin respond($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: 36em) { // 576
      @content;
    }
  }

  @if $breakpoint == tab-small {
    @media (max-width: 48em) { // 768px
      @content;
    }
  }

  @if $breakpoint == tab-big {
    @media (max-width: 62em) {
      // 992px
      @content;
    }
  }

  @if $breakpoint == desktop-small {
    @media (max-width: 75em) {
      // 1200px
      @content;
    }
  }

  @if $breakpoint == desktop {
    @media (min-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == desktop-big {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}
