// COLORS
$color-primary: #0d56db;
$color-primary-dark: #0340ae;
$color-primary-light: #89dcff;

$color-grey-light: #fefefe;
$color-grey: #202223;
$color-grey-dark: #f6f6f6;

// FONT
$font-color: #282828;
$font-color-light : #4b4c58;
$font-color-light-2 :  #6c6c6e;

$heading-font-desktop: 3.5rem;
$heading-font-tablet: 3rem;
$heading-font-mobile: 2.7rem;

$sub-heading-desktop: 2.5rem;
$sub-heading-tablet: 2.3rem;
$sub-heading-mobile: 2rem;

$description-desktop: 1.7rem;
$description-tablet: 1.6rem;
$description-mobile: 1.5rem;

// PADDINGS
$padding-main-desktop: 12rem;
$padding-main-tablet: 10rem;
$padding-main-mobile: 8rem;

$padding-content-desktop: 7rem;
$padding-content-tablet: 6rem;
$padding-content-mobile: 5rem;

$footer-padding-desktop: 16.5rem;
$footer-padding-tablet: 13.5rem;
$footer-padding-mobile: 11.5rem;
