// COLORS

$color-main : #F8AF32;
$color-main-darker : #fba005;
$background-color-1 : #1E1D1D;
$background-color-2 : #252525;
$background-color-footer : #E8E8E8;


// PADDINGS

$section-padding-desktop : 80px;
$section-padding-tablet : 60px;
$section-padding-mobile : 40px;

$content-padding-desktop : 50px;
$content-padding-tablet : 40px;
$content-padding-mobile : 30px;


// FONT

$headers-font-size : 26px;
$content-font-size : 16px;