$color-primary : #A5FFD6 ; 

$bgc-color-1 : #30343F;
$bgc-color-2 : #5B606B;

$section-padding-desktop : 80px;
$section-padding-tablet : 60px;
$section-padding-mobile : 50px;

$padding-secondary-desktop : 50px;
$padding-secondary-tablet : 40px;
$padding-secondary-mobile : 30px;

$headers-font-size-desktop : 30px;
$headers-font-size-tablet : 25px;
$headers-font-size-mobile : 23px;

$font-small : 15px;