// COLORS

$color-main : #F8AF32;
$color-main-darker : #fba005;
$background-color-1 : #1E1D1D;
$background-color-2 : #252525;
$background-color-footer : #E8E8E8;


// PADDINGS

$section-padding-desktop : 9rem;
$section-padding-tablet : 7rem;
$section-padding-mobile : 5rem;

$content-padding-desktop : 6rem;
$content-padding-tablet : 4.5rem;
$content-padding-mobile : 3.5rem;


// FONT

$headers-font-size : 2.6rem;
$content-font-size : 1.6rem;