@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 62.5%;
}

@media (max-width: 48em) {
  html {
    font-size: 60%;
  }
}

body {
  position: relative;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden;
}

@media (max-width: 36em) {
  .container {
    width: 100%;
  }
}

@media (max-width: 48em) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 62em) {
  .container {
    max-width: 720px;
    padding: 0 20px;
  }
}

@media (max-width: 75em) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 75em) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 112.5em) {
  .container {
    max-width: 1440px;
  }
}

section, footer {
  padding: 8.5rem 0;
}

@media (max-width: 62em) {
  section, footer {
    padding: 6rem 0;
  }
}

@media (max-width: 36em) {
  section, footer {
    padding: 5rem 0;
  }
}

.section-header {
  color: #30343F;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 7rem;
}

@media (max-width: 62em) {
  .section-header {
    font-size: 2.5rem;
  }
}

@media (max-width: 36em) {
  .section-header {
    font-size: 2.3rem;
  }
}

@media (max-width: 62em) {
  .section-header {
    font-weight: bold;
    margin-bottom: 4rem;
  }
}

@media (max-width: 36em) {
  .section-header {
    margin-bottom: 3rem;
  }
}

.section-header-secondary {
  font-size: 2.5rem;
  font-weight: normal;
  margin-bottom: 1.5rem;
}

@media (max-width: 62em) {
  .section-header-secondary {
    font-size: 2.3rem;
  }
}

@media (max-width: 36em) {
  .section-header-secondary {
    font-size: 2rem;
    font-weight: 500;
  }
}

.section-description {
  font-size: 1.5rem;
  font-weight: 300;
}

.header__menu {
  width: 3rem;
  height: 2.5rem;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.header__nav {
  width: 3rem;
  height: .4rem;
  background-color: #A5FFD6;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 200;
}

.header__nav::before {
  top: -.8rem;
}

.header__nav::after {
  top: .8rem;
}

.header__nav::before, .header__nav::after {
  content: '';
  width: 100%;
  height: .4rem;
  background-color: #A5FFD6;
  position: absolute;
  left: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header__menu-box {
  background-color: #5B606B;
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 100;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__menu-box ul {
  list-style: none;
}

.header__menu-box a {
  font-size: 3.5rem;
  color: white;
  padding: 1rem 0;
  display: inline-block;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.header__menu-box li {
  text-align: center;
  border-bottom: .2rem solid white;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header__menu-box li:not(:last-child) {
  margin-bottom: 3rem;
}

.header__menu-box li:hover {
  border-bottom: 0.2rem solid #A5FFD6;
}

.header__menu-box li:hover a {
  color: #A5FFD6;
}

.header--active .header__nav::before {
  -webkit-transform: translatey(0.8rem) rotate(45deg);
          transform: translatey(0.8rem) rotate(45deg);
}

.header--active .header__nav::after {
  -webkit-transform: translatey(-0.8rem) rotate(-45deg);
          transform: translatey(-0.8rem) rotate(-45deg);
}

.header--active .header__nav {
  background: transparent;
}

.header--active ~ .header__menu-box {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.sub-section {
  margin-top: 7rem;
  text-align: center;
}

.sub-section--white {
  color: white;
}

.button {
  width: 29rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 1rem;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.15);
}

@media (max-width: 36em) {
  .button {
    font-size: 1.6rem;
  }
}

.button--bisque {
  margin-top: 2rem;
  background-color: #A5FFD6;
}

@media (max-width: 36em) {
  .button--bisque {
    width: 20rem;
    height: 4rem;
  }
}

.button--green {
  background-color: #A5FFD6;
  margin-left: 3rem;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 36em) {
  .button--green {
    margin-left: 1.5rem;
  }
}

.button--border {
  border: .1rem solid black;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  background-color: #47FFAC;
}

.button:active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 10vh;
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.header__name {
  margin-left: 1rem;
}

.hero {
  background-color: #30343F;
  height: 100vh;
  position: relative;
}

.hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
}

@media (max-width: 62em) {
  .hero__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hero__info, .hero__img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 62em) {
  .hero__info {
    position: relative;
    text-align: center;
  }
  .hero__info div {
    position: relative;
    top: 50%;
    -webkit-transform: translatey(-50%);
            transform: translatey(-50%);
  }
}

.hero__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 75em) {
  .hero__img img {
    width: 90%;
  }
}

.hero__main-header {
  font-size: 5.5rem;
  color: #FFFFFF;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

@media (max-width: 75em) {
  .hero__main-header {
    font-size: 3rem;
  }
}

@media (max-width: 36em) {
  .hero__main-header {
    font-size: 2.5rem;
  }
}

.hero__desc {
  font-weight: 300;
  color: #FFFFFF;
  font-size: 2.5rem;
  margin-bottom: 5rem;
}

.hero__button {
  color: black;
  font-weight: 500;
  font-size: 2.5rem;
  background-color: #A5FFD6;
  padding: 1.5rem 6rem;
  border-radius: 1rem;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: none;
}

.hero__button:hover {
  background-color: #47FFAC;
}

.hero__socials {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 62em) {
  .hero__socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.hero__socials img:last-child {
  margin-left: 5rem;
}

@media (max-width: 48em) {
  .hero__socials img:last-child {
    margin-left: 3rem;
  }
}

@media (max-width: 36em) {
  .hero__socials img:last-child {
    margin-left: 1.5rem;
  }
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 62em) {
  .about__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.about__info, .about__img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 62em) {
  .about__img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2rem;
  }
}

@media (max-width: 48em) {
  .about__img img {
    width: 70%;
  }
}

@media (max-width: 36em) {
  .about__img img {
    width: 90%;
  }
}

.about__header {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
}

.about p {
  margin-bottom: 1.5rem;
}

.features {
  background-color: #30343F;
}

.features h2 {
  color: white;
}

.features__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(23rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  grid-gap: 2.5rem 2.5rem;
  margin: 0 2.5rem;
}

@media (min-width: 112.5em) {
  .features__wrapper {
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 5rem 5rem;
  }
}

@media (max-width: 75em) {
  .features__wrapper {
    -ms-grid-columns: (25rem)[2];
        grid-template-columns: repeat(2, 25rem);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 48em) {
  .features__wrapper {
    -ms-grid-columns: (minmax(23rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  }
}

@media (max-width: 36em) {
  .features__wrapper {
    -ms-grid-columns: 25rem;
        grid-template-columns: 25rem;
  }
}

.features__card {
  height: 23rem;
  background-color: #5B606B;
  border-radius: 1rem;
  color: white;
  text-align: center;
  position: relative;
  padding: 0 1.5rem;
}

@media (min-width: 112.5em) {
  .features__card {
    height: 25rem;
  }
}

@media (max-width: 75em) {
  .features__card {
    height: 25rem;
  }
}

.features__card div {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.features__header {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.features__reasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 3rem;
}

@media (max-width: 36em) {
  .features__reasons {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-row: auto auto;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
}

.features__reason {
  border: 0.2rem solid #A5FFD6;
  height: 10rem;
  width: 10rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

@media (max-width: 36em) {
  .features__reason {
    margin: 0 0 0 auto;
  }
  .features__reason--left {
    margin: 0 auto 0 0;
  }
}

.features__reason h3 {
  font-weight: bold;
  font-size: 2rem;
}

.pricing__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(36rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
  grid-gap: 2.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 112.5em) {
  .pricing__wrapper {
    grid-gap: 5rem;
    -ms-grid-columns: (36rem)[3];
        grid-template-columns: repeat(3, 36rem);
  }
}

@media (max-width: 75em) {
  .pricing__wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 0 15rem;
  }
}

@media (max-width: 48em) {
  .pricing__wrapper {
    -ms-grid-columns: (minmax(36rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
    padding: 0 10rem;
  }
}

@media (max-width: 36em) {
  .pricing__wrapper {
    -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    padding: 0 10rem;
  }
}

.pricing__card {
  background-color: #30343F;
  height: 39rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0.6rem 0.7rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.6rem 0.7rem rgba(0, 0, 0, 0.25);
}

@media (max-width: 36em) {
  .pricing__card {
    height: 36rem;
    padding: 2rem 1rem;
  }
}

.pricing__header {
  font-weight: normal;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.pricing__money {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.pricing .section-description {
  margin-bottom: 1rem;
}

.pricing__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3rem;
}

.footer {
  background-color: #30343F;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 48em) {
  .footer__wrapper:first-child {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1.5rem;
  }
}

.footer__wrapper:not(:last-child) {
  margin-bottom: 5rem;
}

.footer__wrapper p {
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-right: 1rem;
  color: white;
}

.footer__link {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer__link:hover {
  color: #A5FFD6;
}

.footer__link:not(:last-child) {
  margin-right: 4rem;
}

@media (max-width: 48em) {
  .footer__link:not(:last-child) {
    margin-right: 0;
  }
}

@media (max-width: 48em) {
  .footer__link {
    margin: 0 auto !important;
  }
}

.footer__newsletter {
  border: .3rem solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 .5rem;
}

.footer__newsletter input {
  outline: none;
  padding: .7rem .5rem;
  margin-right: 1rem;
  background: none;
  border: none;
  color: white;
}

.footer__newsletter input::-webkit-input-placeholder {
  color: #aca5a5;
  font-size: 1.5rem;
  font-weight: 300;
}

.footer__newsletter input:-ms-input-placeholder {
  color: #aca5a5;
  font-size: 1.5rem;
  font-weight: 300;
}

.footer__newsletter input::-ms-input-placeholder {
  color: #aca5a5;
  font-size: 1.5rem;
  font-weight: 300;
}

.footer__newsletter input::placeholder {
  color: #aca5a5;
  font-size: 1.5rem;
  font-weight: 300;
}

.footer__social-icon:not(:last-child) {
  margin-right: 4rem;
}
/*# sourceMappingURL=main.css.map */