@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'base/base';
@import 'base/typography';
@import 'base/utilities';

@import 'components/nav';
@import 'components/button';
@import 'components/skill';

@import 'layout/header';
@import 'layout/landing';
@import 'layout/about';
@import 'layout/footer';
@import 'layout/projects';



