.footer {
    padding-top: $footer-padding-desktop;
    margin-top: $padding-main-desktop;
    background-image: url(../img/footer-background.png);
    background-size: cover;
    color:$color-grey-dark;
    

    padding-bottom: 5rem;
    @include respond(tab-big) {
        padding-top: $footer-padding-tablet;
        margin-top: $padding-main-tablet;
    }

    @include respond(mobile) {
        padding-top: $footer-padding-mobile;
        margin-top: $padding-main-mobile;
    }

    &__subscribe {
        font-weight: bold;
        font-size: 1.9rem;
        text-transform: uppercase;
        letter-spacing: .6rem;

        margin-top: $padding-content-desktop;
        margin-bottom: 2rem;
        @include respond(tab-big) {
          margin-top: $padding-content-tablet;
        }
      
        @include respond(mobile) {
          margin-top: $padding-content-mobile;
        }
    }

    &__box {
        text-align: center;
    }

    &__newsletter {
        position: relative;
        display: inline-block;
        overflow: hidden;
        backface-visibility: hidden;
        input {
            width: 60rem;
            color:black;
            font-weight: bold;
            padding: 1rem 2rem;
            border-radius: 3rem;
            border:none;
            outline: none;
            display: inline-block;
            z-index: 1;
            position: relative;

    
            @include respond(tab-big){
                width: 50rem;
            }
    
            @include respond(tab-small){
                width: 40rem;
            }
    
            @include respond(mobile){
                width: 30rem;
            }

            &::placeholder{
                color:black;
                font-weight: bold;
            }
        }
    }

    &__btn {
        position: absolute;
        z-index: 2;
        background-color: $color-primary;
        padding: 1rem 2rem;
        border-top-right-radius: 3rem;
        border-bottom-right-radius: 3rem;
        right: 0;
        top:0;
        width: 10rem;
        height: 100%;
        outline: none;
        border: none;
        transition: all .3s;

        @include respond(tab-small){
            width: 8rem;
        }

        @include respond(mobile){
            width: 7rem;
        }

        &:hover{
            background-color: $color-primary-dark;
        }
    }

    &__background-text {
        font-weight: 700;
        font-size: 10rem;
        opacity: .25;

        @include respond(desktop-small){
            font-size: 7rem;
        }

        @include respond(tab-big){
            font-size: 6rem;
        }

        @include respond(tab-small){
            font-size: 4.5rem;
        }

        @include respond(mobile){
            font-size: 3rem;
        }
    }
}

.footer-nav{
    background-color: $color-grey-2;
    color:$color-grey-dark;
    padding: 2rem 0 ;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
    flex: 1;

    display: flex;
    align-items: center;
        
    span {
      font-size: 2rem;
      font-weight: bold;
      display: block;
      transform: translateY(-0.2rem);

      @include respond(mobile){
        font-size: 1.6rem;
      }
    }
    img {
      transform: translateY(-0.5rem);
    }
    }

    &__menu {
        flex:1;

        display: flex;
        justify-content: space-between;
        list-style: none;

        @include respond(tab-big){
            display: none;
        }
    }
    
    &__link {
        color:$color-grey-dark;
        font-weight: bold;
        font-size: 1.7rem;
    }

    &__copyright {
        flex:1;

        display: flex;
        justify-content: flex-end;

        font-size: 1.5rem;
        font-weight: 300;

        @include respond(mobile){
            font-size: 1.4rem;
        }
    }
}
