.footer {
    background-color: $background-color-footer;
    position: relative;
    

    &__form {
        width:570px;
        position: relative;
        left:50%;
        transform: translateX(-50%);

        @include respond(tab-small){
            width:100%;
        }
    }

    &__wrapper {
        margin-bottom: 12px;
        display: flex;
        position: relative;
        @include respond(mobile){
            flex-direction: column;
        }
    }

    &__input , textarea {
        color:white;
        outline: none;
        border: none;
        background-color:$background-color-1;
        border-radius: 5px;

        &::placeholder {
            color:$background-color-footer;
        }
    }

    label {
        font-weight: 500;
        font-size: 14px;
        transition: all .3s;
        display: block;
        position: absolute;
        top:13px;
        transform: translateY(-35px);

        @include respond(mobile) {
            display: none !important;
        }
    }

    &__name-label {
        left:15px;
    }

    &__email-label {
        left:53%;
    }

    &__name:placeholder-shown ~ &__name-label {
        visibility: hidden;
        opacity: 0;
        transform: translateY(0);
    }

    &__email:placeholder-shown ~ &__email-label {
        visibility: hidden;
        opacity: 0;
        transform: translateY(0);
    }

    &__input {
        width:50%;
        height: 40px;
        padding: 5px 15px;
        
        &--margin{
            margin-left: 10px;
            @include respond(mobile){
                margin-left: 0;
                margin-top: 12px;
            }
        }

        @include respond(mobile){
            width: 100%;
        }
    }

    textarea{
        width: 100%;
        padding: 10px 15px; 
        resize: none;  
    }

    &__socials {
        text-align: center;
        a {

            display: inline-block;
            &:not(:first-child){
                margin-left: 35px;
            }
        }
    }

    &__copy {
        width: 100%;
        background-color: $background-color-1;
        padding:15px 0;
    }
}


