.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;

    &__link {
        display: flex;
        align-items: center;
        color:white;
        font-size: 2rem;
        font-weight: bold;
    }

    &__name {
        margin-left: 1rem;
    }
}

.hero {
    background-color: $bgc-color-1;
    height: 100vh;
    position: relative;

    &__wrapper {
        display: flex;
        align-items: center;
        height: 80vh;
        @include respond(tab-big){
            flex-direction: column;
        }
    }

    &__info , &__img{
        flex: 1;
    }

    &__info {
        @include respond(tab-big){
            position: relative;
            text-align: center;
            div {
                position: relative;
                top:50%;
                transform: translatey(-50%);
            }
        }
    }

    &__img {
        display: flex;
        justify-content: flex-end;
        img {
            @include respond(desktop-small){
                width: 90%;
            }
        }
    }

    &__main-header {
        font-size: 4rem;
        color:#FFFFFF;
        font-weight: 500;
        margin-bottom: 1.5rem;

        @include respond(desktop-small){
            font-size: 3rem;
        }

        @include respond(mobile){
            font-size: 2.5rem;
        }
    }

    &__desc {
        font-weight: 300;
        color:#FFFFFF;
        font-size: 1.8rem;
        margin-bottom: 5rem;
    }   

    &__button {
        color:#FFFFFF;
        font-size: 2rem;
        border:3px solid $color-primary;
        padding:1rem 5rem;
        border-radius: 1rem;
        transition: all .3s;
    
        &:hover {
            background-color:$color-primary ;
            color:black;
        }
    }

    &__socials {
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @include respond(tab-big){
            justify-content: center;
        }

        & img:last-child{
            margin-left: 5rem;
            @include respond(tab-small){
                margin-left: 3rem;
            }
            @include respond(mobile){
                margin-left: 1.5rem;
            }
        }
    }
}

