@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

.App {
  text-align: center;
  margin-top: 5rem;
  font-family: 'Roboto', sans-serif;

  table {
    border: 2px solid rgb(47, 50, 54);
    border-collapse: collapse;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 2.5rem;
    max-width: 1100px;
    width: 100%;

    thead {
      background-color: #dc0073;
      color: #fff;
      font-weight: 500;
      font-size: 1.1rem;
    }

    tbody {
      th {
        font-size: 1rem;
        font-weight: 300;
      }

      tr {
        cursor: pointer;

        &:hover th {
          background-color: rgb(230, 230, 230);
        }
      }
    }

    tr {
      border-bottom: 1px solid rgb(206, 206, 206);
    }

    th {
      padding: 20px 50px;
    }
  }
}
