// Headings
.heading-primary,
.heading,
.subheading {
  color: $dark-grayish-blue;
  font-weight: 600;
}

.heading-primary {
  font-size: 3.6rem;
}

.heading {
  text-align: center;
  font-size: 2.8rem;
}

.subheading {
  font-size: 2rem;
}

// Description
.desc {
  color: $grayish-blue;
  max-width: 65rem;
  font-size: 1.7rem;
  line-height: 1.5;
}

// Buttons
.buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.btn {
  font-size: 1.8rem;
  color: #fff;
  padding: 1.5rem 3.5rem;
  border-radius: 3rem;
  border: none;
  transition: all 0.2s;
  &:hover {
    cursor: pointer;
  }

  &--cyan {
    background-color: $strong-cyan;
    box-shadow: 0 3px 2px rgba(darken($strong-cyan, 10%), 1);
    &:hover {
      background-color: lighten($strong-cyan, 5%);
    }
  }

  &--blue {
    background-color: $light-blue;
    box-shadow: 0 3px 2px rgba(darken($light-blue, 10%), 1);
    &:hover {
      background-color: lighten($light-blue, 5%);
    }
  }
}

// Utilities
.u-text-center {
  text-align: center;
  margin: 0 auto;
}

.u-margin-top-bottom {
  margin-top: 2.5rem;
  margin-bottom: 5rem;
}
