<<<<<<< HEAD
$color-primary : #A5FFD6 ; 
$color-primary-dark :#47FFAC;

$bgc-color-1 : #30343F;
$bgc-color-2 : #5B606B;

$section-padding-desktop : 8.5rem;
$section-padding-tablet : 7rem;
$section-padding-mobile : 6rem;

$padding-secondary-desktop : 7rem;
$padding-secondary-tablet : 5.5rem;
$padding-secondary-mobile : 4.5rem;

$headers-font-size-desktop : 3rem;
$headers-font-size-tablet : 2.5rem;
$headers-font-size-mobile : 2.3rem;

$font-small : 1.5rem;
=======
// COLORS

$color-main : #F8AF32;
$color-main-darker : #fba005;
$background-color-1 : #1E1D1D;
$background-color-2 : #252525;
$background-color-footer : #E8E8E8;


// PADDINGS

$section-padding-desktop : 9rem;
$section-padding-tablet : 7rem;
$section-padding-mobile : 5rem;

$content-padding-desktop : 7rem;
$content-padding-tablet : 4.5rem;
$content-padding-mobile : 3.5rem;


// FONT

$headers-font-size : 2.6rem;
$content-font-size : 1.6rem;
>>>>>>> Simple-portfolio/master
