// COLORS
$color-primary: #01c3ff;
$color-primary-dark: #02b9f1;

$color-dark: #1d1b1b;

// FONT
$color-dark-light: #797979;

$heading-desktop: 3rem;
$heading-tablet: 2.5rem;
$heading-mobile: 2.2rem;

$desc-desktop: 1.6rem;
$desc-mobile: 1.5rem;

// MARGINS AND PADDINGS

$section-margin-top-desktop: 15rem;
$section-margin-top-tablet: 12.5rem;
$section-margin-top-mobile: 10rem;

$content-margin-top-desktop: 10rem;
$content-margin-top-tablet: 8rem;
$content-margin-top-mobile: 6rem;
