*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;    
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    
    font-size: 62.5%; // 1 rem = 10px ; 10px/16px  62.5%
    
    @include respond(tab-small){
        font-size: 60%;
    }

}

body{
    position: relative;
    overflow-x: hidden;
}

.container{
    margin: 0 auto;
    width:100%;
    overflow-x: hidden;
    
    @include respond(mobile){
        width: 100%;
    }

    @include respond(tab-small){
        max-width:540px;
    }

    @include respond(tab-big){
        max-width:720px;
        padding: 0 20px;
    }

    @include respond(desktop-small){
        max-width:960px;
    }

    @include respond(desktop){
        max-width:1140px;
    }

    @include respond(desktop-big){
        max-width:1440px;
    }
}

section , footer{
    padding:$section-padding-desktop 0;

    @include respond(tab-big){
        padding:$section-padding-tablet 0;
    }
    @include respond(mobile){
        padding:$section-padding-mobile 0;
    }
}