@import 'sass/abstracts/variables';
@import 'sass/abstracts/mixins';

@import 'sass/base/base';
@import 'sass/base/typography';

@import 'sass/components/card';

@import 'sass/layout/landing-page';
@import 'sass/layout/tech-projects';
