.workflow {
  padding: 15rem 0;
}

.workflow__features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-column-gap: 4rem;
  grid-row-gap: 6rem;
}

.workflow__feature {
  text-align: center;
}

.workflow__feature img {
  height: 4rem;
}

.workflow__feature .subheading {
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

.workflow__corporations {
  padding-top: 10rem;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-row-gap: 6rem;
  justify-items: center;
  align-items: center;
}

.subheading {
  font-size: 2rem;
}

@media (max-width: 60em) {
  .subheading {
    font-size: 1.9rem;
  }
}
