.card {
  background-color: #fff;
  max-width: 73rem;
  max-height: 28rem;
  display: flex;

  &__img {
    width: 40%;
  }
}

.content {
  width: 60%;
  padding: 4rem;

  &__heading {
    font-size: 2rem;
    font-weight: 700;
    color: $very-dark-grayish-blue;
  }

  &__desc {
    font-size: 1.3rem;
    font-weight: 500;
    color: $grayish-blue;
    margin: 1.5rem 0;
  }

  &__person {
    display: flex;
    align-items: center;

    img {
      border-radius: 50%;
      width: 4rem;
      height: 4rem;
    }

    .name-date-container {
      font-size: 1.3rem;
      margin-left: 2rem;
      .name {
        font-weight: 700;
        color: $very-dark-grayish-blue;
      }
      .date {
        font-weight: 500;
        color: $grayish-blue;
      }
    }

    .share {
      display: flex;
      flex: 1;
      justify-content: flex-end;

      .icon {
        border-radius: 50%;
        background-color: $light-grayish-blue;
        padding: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
      }

      .arrow-icon {
        width: 1.7rem;
        height: 1.7rem;
      }

      .modal {
        background-color: $very-dark-grayish-blue;
        width: 25rem;
        height: 5.5rem;
        border-radius: 0.8rem;
        text-transform: uppercase;
        color: $grayish-blue;
        font-size: 1.3rem;
        letter-spacing: 0.4rem;
        padding: 0 3.5rem;

        display: flex;
        align-items: center;
        justify-content: space-between;

        position: absolute;
        bottom: 200%;
        left: 50%;
        transform: translateX(-50%);

        // transform: all 0.3s;
        visibility: hidden;

        img {
          width: 2rem;
          height: 2rem;
        }

        &::after {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          border-left: 1.5rem solid transparent;
          border-right: 1.5rem solid transparent;
          border-top: 1.4rem solid $very-dark-grayish-blue;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}

.u-show {
  //   transform: all 0.3s;
  visibility: visible !important;

  //   opacity: 1 !important;
}
