// #####################
// HEADER

.header {
  padding: 6rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 37.5em) {
    padding: 3rem 0;
  }

  img {
    @media (max-width: 37.5em) {
      width: 10rem;
    }
  }

  &__list {
    list-style: none;
    display: flex;

    li {
      &:not(:first-child) {
        margin-left: 5rem;
        @media (max-width: 37.5em) {
          margin-left: 1.5rem;
        }
      }
    }
  }

  &__link {
    font: 400 1.6rem 'Raleway', sans-serif;
    color: $very-dark-blue;
  }
}

// #####################
// MAIN

.main {
  padding-top: 4rem;
}

.section {
  &:first-child {
    margin-bottom: 15rem;
  }

  &--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-content: center;
    align-items: center;

    //1200px
    @media (max-width: 75em) {
      grid-template-columns: 1fr;
    }
  }

  &__content {
    @media (max-width: 75em) {
      grid-row: 2/3;
      margin-top: 7rem;
    }
  }

  &__heading,
  &__desc {
    max-width: 53rem;
  }

  &__heading {
    color: $very-dark-blue;
    max-width: 50rem;
    line-height: 1.5;
    margin-bottom: 3rem;

    &--wide {
      max-width: 60rem;
    }
  }

  &__desc {
    &--margin {
      margin: 2rem 0;
    }
  }

  &__form {
    margin-top: 3rem;
    max-width: 50rem;
    display: flex;

    .form-input {
      flex: 2;
    }

    .form-btn {
      margin-left: 1.5rem;
      flex: 1;
    }
  }

  &__more {
    color: $moderate-cyan;
    border-bottom: 1px solid $moderate-cyan;
    display: inline-flex;
    align-items: center;
    margin-bottom: 4rem;
    padding: 1rem 0;
    font: 400 1.6rem 'Raleway', sans-serif;

    @media (max-width: 75em) {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }

    svg {
      margin-left: 0.7rem;
    }

    &:hover {
      color: lighten($moderate-cyan, 25%);
      border-bottom: 1px solid lighten($moderate-cyan, 25%);
      cursor: pointer;
    }

    &:hover #b {
      fill: lighten($moderate-cyan, 25%);
    }
  }

  &__img {
    width: 100%;
  }

  &--bg {
    background: #f8f8fe;
    padding-bottom: 10rem;
  }
}

.testimonial {
  background: #fff;
  padding: 2.5rem 3rem;
  width: 35rem;
  border-radius: 0.5rem;

  &__quotation-mark {
    width: 3rem;
  }

  &__desc {
    font: 400 1.4rem 'Open Sans', sans-serif;
    margin: 2rem 0;
    line-height: 1.7;
  }

  &__person {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 0.3rem;

    img {
      width: 4.5rem;
      height: 4.5rem;
      border-radius: 50%;
      grid-row: 1/3;
    }

    .name {
      font: 700 1.35rem 'Raleway', sans-serif;
      color: $very-dark-blue;
      align-self: end;
    }

    .job {
      font: 400 1.2rem 'Open Sans', sans-serif;
      grid-column: 2/3;
    }
  }
}

.bg-curve-desktop {
  width: 100%;
  transform: translateY(3px);
}

// #####################
// ASIDE

.aside {
  background-color: $desaturated-blue;
  padding: 10rem 0;
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    grid-row-gap: 3rem;
    grid-column-gap: 15rem;
  }

  h2 {
    align-self: end;
  }

  .desc {
    max-width: 50rem;
    line-height: 1.5;
  }

  form {
    grid-column: 2/3;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
  }

  .form-input {
    border: none;
  }

  .form-btn {
    margin-top: 1.5rem;
    max-width: 40%;
  }
}

// #####################
// FOOTER

.footer {
  background-color: $very-dark-blue;

  padding: 10rem 0;
  @media (max-width: 56.25em) {
    padding: 5rem 0;
  }
  .footer-wrapper {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @media (max-width: 56.25em) {
      grid-template-columns: 1fr;
      grid-row-gap: 3rem;
    }
  }

  .column {
    &:nth-child(2) {
      grid-column: 2/4;

      @media (max-width: 56.25em) {
        grid-column: auto;
      }

      ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 1rem;

        @media (max-width: 56.25em) {
          grid-template-columns: 1fr;
        }
      }
    }

    &:last-child {
      @media (max-width: 56.25em) {
        justify-self: center;
      }
    }

    .contact-box {
      display: flex;
      align-items: center;

      &:first-child {
        margin-bottom: 2rem;
      }
    }

    p {
      margin-left: 1.5rem;
    }
  }

  ul {
    list-style: none;
  }

  a {
    transition: all 0.2s;

    &:hover {
      color: $bright-blue;
    }
  }

  .social-box {
    border: 1px solid #fff;
    display: inline-flex;
    padding: 0.7rem;
    border-radius: 50%;
    transition: all 0.2s;

    &:not(:first-child) {
      margin-left: 1.5rem;
    }

    svg {
      transition: all 0.2s;
      width: 1.8rem;
      height: 1.8rem;
      fill: #fff;
    }

    &:hover {
      cursor: pointer;
      border: 1px solid $bright-blue;
      svg {
        fill: $bright-blue;
      }
    }
  }
}
