@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  padding: 5rem;
  background-color: #121417;
  border-radius: 7px 7px 0  0;
  width: 1440px;
  margin: 0 auto;
  height: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .dealer-cards,
.main .player-cards {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid white;
  width: 20rem;
  height: 20rem;
  -ms-flex-item-align: center;
      align-self: center;
  border-radius: 50%;
}

.main .dealer-cards > *,
.main .player-cards > * {
  width: 7rem;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.main .dealer-cards::before,
.main .player-cards::before {
  position: absolute;
  color: white;
  bottom: 102%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main .dealer-cards::before {
  content: 'Dealer';
}

.main .player-cards::before {
  content: 'You';
}

.main .player-cards > img {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
}

.main .player-cards .placed-bet {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 100%;
  left: 80%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main .player-cards .placed-bet img {
  width: 3rem;
}

.main .player-cards .placed-bet p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #F6F7F8;
  margin-left: .5rem;
}

@-webkit-keyframes slidein {
  from {
    -webkit-transform: translateX(300%) translateY(-500%);
            transform: translateX(300%) translateY(-500%);
  }
  to {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
}

@keyframes slidein {
  from {
    -webkit-transform: translateX(300%) translateY(-500%);
            transform: translateX(300%) translateY(-500%);
  }
  to {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
}

.menu {
  border: 2px solid #121417;
  width: 1440px;
  height: 5rem;
  bottom: 0;
  border-radius: 0  0 7px 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__balance-p {
  font-weight: 300;
  margin-right: 3rem;
}

.menu__balance-p span {
  font-weight: 500;
}

.menu__bet-amount {
  margin-left: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__bet-amount input {
  width: 3rem;
  padding: .2rem;
}

.menu__bet-amount a {
  background-color: #fdbfcd;
  padding: .2rem 1rem;
  border-radius: 2px;
  margin-left: .5rem;
  cursor: pointer;
}

.menu__bet-amount p {
  font-weight: 300;
  margin-left: 3rem;
}

.menu__bet-amount p span {
  font-weight: 500;
}

.menu .bet-btn {
  margin-left: 1rem;
  padding: .3rem 1.5rem;
  background-color: #FF3366;
  border: none;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */