@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #96dfee;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding: 5rem 15rem;
  background-color: #23b5d3;
  border-radius: 5px;
  position: relative;
  h2 {
    color: white;
    font-size: 3rem;
    font-weight: bold;
  }
  .description {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 3rem;
    margin-bottom: 2rem;
    color: #151414;
  }

  .menu {
    display: flex;
    position: relative;
    .input {
      padding: 1rem 1rem;
      border: none;
      border-radius: 5px 0 0 5px;
      width: 85%;
    }
    .btn {
      width: 15%;
      padding: 1rem 0.5rem;
      border: none;
      background-color: #e94967;
      border-radius: 0 5px 5px 0;
      color: white;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        background-color: #e63757;
      }
    }
  }
}

.results {
  padding: 2rem 15rem;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;

  table {
    border: 2px solid black;
    width: 100%;
    margin: 0 auto;

    thead {
      font-weight: bold;
      color: #151414;
      font-size: 1.1rem;
    }

    tbody {
      font-weight: 300;
      color: #151414;
    }

    td {
      padding: 0.5rem 2rem;
      text-align: center;
    }
  }
}

.show-more {
  font-size: 0.8rem;
  color: #e94967;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  margin-top: 1rem;
  text-decoration: underline;

  &:hover {
    color: #e63757;
  }
}

.hidden {
  visibility: hidden;
}

.showMore tr:not(:first-child) {
  display: none;
}
