// #########################################
// GENERAL SET UP

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

$font-size: 2rem;
$font-size-big: 2.5rem;

$color-primary: #ff3366;

// #########################################
// LAYOUT
.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas:
    'banner banner banner'
    'sidebar main main'
    'sidebar main main';

  grid-template-columns: 35rem 1fr 1fr;
  grid-template-rows: 23rem 1fr 1fr;

  .main {
    grid-area: main;
  }
}

// #########################################
// BANNER

.banner {
  background-image: url(../img/banner.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  grid-area: banner;
  color: #fff;
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .timestamp {
    &__time {
      font-size: 7rem;
      font-weight: 300;
    }

    &__date {
      font-weight: 500;
      font-size: $font-size;
    }
  }

  h2 {
    font-size: 3rem;
    font-weight: 600;
  }
}

// #########################################
// SIDEBAR

.sidebar {
  background-color: #f5f5f5;
  grid-area: sidebar;

  h3 {
    margin-bottom: 4rem;
    margin-top: 5rem;
    font-size: $font-size-big;
    font-weight: 600;
    padding: 0 5rem;
  }

  .list {
    display: flex;
    padding: 2rem 5rem;
    align-items: center;

    &:hover {
      background-color: #fff;
      cursor: pointer;
    }

    &__title {
      font-size: $font-size;
      margin-left: 0.5rem;
      background: none;
      border: none;
      color: #000;
      outline: none;
      display: inline-block;
      cursor: pointer;
    }

    &__options {
      position: relative;
      padding: 0.5rem;
      .list-modal {
        position: absolute;
        background-color: white;
        color: black;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 10rem;
        font-weight: 600;
        font-size: 1.2rem;
        margin-bottom: 1rem;

        p {
          padding: 0.5rem 1rem;
          &:hover {
            cursor: pointer;
            background-color: $color-primary;
            color: #fff;
          }
        }
      }
    }

    .option {
      background-color: black;
      width: 0.6rem;
      border-radius: 50%;
      height: 0.6rem;

      &:first-child {
        margin-bottom: 0.6rem;
      }
    }
  }
  // adding new list
  .add-list-container {
    padding: 2rem 5rem;
    display: flex;
    font-size: $font-size;

    .add-list {
      cursor: pointer;
      display: flex;
      align-items: center;
      align-self: flex-start;

      img {
        width: 3rem;
      }
    }
  }
}

// #########################################
// MAIN SECTION - TODO'S
.main {
  padding: 3rem 5rem;
}

.todo {
  font-size: 5rem;
  display: none;
}

// #########################################
// UTILITY FOR JAVASCRIPT

.active {
  background-color: $color-primary;
  .list__title {
    color: white !important;
    cursor: auto;
  }

  &:hover {
    background-color: $color-primary !important;
    cursor: auto !important;
  }

  .option {
    background-color: white !important;
  }
}

.show {
  display: block;
}

.hide {
  display: none !important;
}
