// #########################################
// GENERAL SET UP

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

$font-size: 2rem;
$font-size-big: 2.5rem;

$color-primary: #ff3366;

// #########################################

.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas:
    'banner banner banner'
    'sidebar main main'
    'sidebar main main';

  grid-template-columns: 35rem 1fr 1fr;
  grid-template-rows: 23rem 1fr 1fr;

  .main {
    grid-area: main;
  }
}

.banner {
  background-image: url(../img/banner.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  grid-area: banner;
  color: #fff;
  font-size: $font-size;
  &__container {
    padding: 3rem 5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .clock {
    .time-box {
      font-size: 7rem;
      font-weight: 300;
    }

    .date-box {
      font-weight: 500;
    }
  }

  h2 {
    font-size: 3rem;
    font-weight: 600;
  }
}

.sidebar {
  background-color: #f5f5f5;
  grid-area: sidebar;

  h3 {
    margin-bottom: 4rem;
    margin-top: 5rem;
    font-size: $font-size-big;
    font-weight: 600;
    padding: 0 5rem;
  }

  .list {
    display: flex;
    padding: 2rem 5rem;
    align-items: center;

    &:hover {
      background-color: #fff;
      cursor: pointer;
    }

    &__title {
      font-size: $font-size;
      margin-left: 0.5rem;
    }

    &__options {
      flex: 1;
      justify-self: flex-end;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .option {
      background-color: black;
      width: 0.6rem;
      border-radius: 50%;
      height: 0.6rem;

      &:first-child {
        margin-bottom: 0.6rem;
      }
    }
  }
}

.main {
  padding: 3rem 5rem;
}

.todo {
  font-size: 5rem;
  display: none;
}

.active {
  background-color: $color-primary;
  pointer-events: none;
  color: white;

  .option {
    background-color: white !important;
  }
}

.show {
  display: block;
}
