@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
      grid-template-areas: 'banner banner banner' 'sidebar main main' 'sidebar main main';
  -ms-grid-columns: 35rem 1fr 1fr;
      grid-template-columns: 35rem 1fr 1fr;
  -ms-grid-rows: 23rem 1fr 1fr;
      grid-template-rows: 23rem 1fr 1fr;
  position: relative;
  overflow-x: hidden;
}

@media (max-width: 75em) {
  .container {
    -ms-grid-columns: 30rem 1fr 1fr;
        grid-template-columns: 30rem 1fr 1fr;
    -ms-grid-rows: 20rem 1fr 1fr;
        grid-template-rows: 20rem 1fr 1fr;
  }
}

@media (max-width: 62em) {
  .container {
        grid-template-areas: 'banner banner' 'main main ' 'main main';
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 36em) {
  .container {
    -ms-grid-rows: 18rem 1fr 1fr;
        grid-template-rows: 18rem 1fr 1fr;
  }
}

.container .main-section {
  position: relative;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: main;
}

.banner {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.2))), url(../img/banner.jpg);
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 45%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: banner;
  color: #fff;
  padding: 3rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 36em) {
  .banner {
    padding: 2rem 3rem;
  }
}

.banner__column-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner__column-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .timestamp__time {
  font-size: 7rem;
  font-weight: 300;
  color: white;
}

@media (max-width: 75em) {
  .banner .timestamp__time {
    font-size: 5rem;
  }
}

@media (max-width: 36em) {
  .banner .timestamp__time {
    font-size: 4rem;
  }
}

.banner .timestamp__date {
  font-weight: 500;
  font-size: 2rem;
}

@media (max-width: 75em) {
  .banner .timestamp__date {
    font-size: 1.8rem;
  }
}

@media (max-width: 36em) {
  .banner .timestamp__date {
    font-size: 1.6rem;
  }
}

.banner h2 {
  font-size: 3rem;
  font-weight: 600;
}

@media (max-width: 75em) {
  .banner h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 36em) {
  .banner h2 {
    font-size: 2rem;
  }
}

.hamburger {
  display: none;
  position: relative;
  z-index: 100;
}

@media (max-width: 62em) {
  .hamburger {
    display: inline-block;
  }
}

.hamburger__outline {
  display: inline-block;
  height: 2.4rem;
}

.hamburger__bar {
  width: 4rem;
  height: 0.3rem;
  background-color: #fff;
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-width: 36em) {
  .hamburger__bar {
    width: 3.5rem;
    height: 0.3rem;
  }
}

.hamburger__bar::before, .hamburger__bar::after {
  content: '';
  width: 100%;
  height: 0.3rem;
  background-color: #fff;
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.hamburger__bar::before {
  top: -0.9rem;
}

.hamburger__bar::after {
  top: 0.9rem;
}

.hamburger__bar--hidden {
  background: transparent;
  -webkit-transition: all 0s;
  transition: all 0s;
}

.hamburger--active .hamburger__bar::before {
  -webkit-transform: translatey(0.9rem) rotate(45deg);
          transform: translatey(0.9rem) rotate(45deg);
}

.hamburger--active .hamburger__bar::after {
  -webkit-transform: translatey(-0.9rem) rotate(-45deg);
          transform: translatey(-0.9rem) rotate(-45deg);
}

.sidebar {
  background-color: #f5f5f5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: sidebar;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 62em) {
  .sidebar {
    position: absolute;
    z-index: 10;
    top: 20rem;
    left: 100%;
    width: 100%;
    height: calc(100% - 20rem);
  }
}

@media (max-width: 36em) {
  .sidebar {
    top: 18rem;
    height: calc(100% - 18rem);
  }
}

.sidebar h3 {
  margin-bottom: 4rem;
  margin-top: 5rem;
  font-size: 2.5rem;
  font-weight: 600;
  padding: 0 5rem;
}

@media (max-width: 75em) {
  .sidebar h3 {
    font-size: 2.3rem;
  }
}

@media (max-width: 36em) {
  .sidebar h3 {
    font-size: 2rem;
  }
}

.sidebar .list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 2rem 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 62em) {
  .sidebar .list {
    -ms-grid-columns: min-content min-content 1fr;
        grid-template-columns: -webkit-min-content -webkit-min-content 1fr;
        grid-template-columns: min-content min-content 1fr;
    justify-items: end;
  }
}

@media (max-width: 36em) {
  .sidebar .list {
    padding: 2rem 3rem;
  }
}

.sidebar .list__icon {
  width: 2.2rem;
  height: 2.2rem;
  fill: currentColor;
}

@media (max-width: 75em) {
  .sidebar .list__icon {
    width: 2rem;
    height: 2rem;
  }
}

.sidebar .list:hover {
  background-color: #fff;
  cursor: pointer;
}

.sidebar .list__title {
  font-size: 2rem;
  margin-left: 0.5rem;
  background: none;
  border: none;
  color: #000;
  outline: none;
  display: inline-block;
  cursor: pointer;
}

@media (max-width: 75em) {
  .sidebar .list__title {
    font-size: 1.8rem;
  }
}

@media (max-width: 36em) {
  .sidebar .list__title {
    font-size: 1.6rem;
  }
}

.sidebar .list .icon-modal {
  border-radius: 3px;
  padding: 3rem;
  margin-left: 5rem;
  position: absolute;
  background-color: #fff;
  bottom: 100%;
  width: 100%;
}

@media (max-width: 62em) {
  .sidebar .list .icon-modal {
    width: 70%;
    left: 0;
  }
}

.sidebar .list .icon-modal > * {
  margin: 0.7rem;
  fill: black;
  cursor: pointer;
}

@media (max-width: 75em) {
  .sidebar .list .icon-modal > * {
    width: 2rem;
    height: 2rem;
    margin: 0.6rem;
  }
}

.sidebar .list .icon-modal::after {
  position: absolute;
  content: '';
  left: 0;
  top: 100%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #fff;
}

.sidebar .list__options {
  position: relative;
  padding: 0.5rem;
}

.sidebar .list__options .list-modal {
  position: absolute;
  background-color: white;
  color: black;
  bottom: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 10rem;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.sidebar .list__options .list-modal p {
  padding: 0.5rem 1rem;
}

.sidebar .list__options .list-modal p:hover {
  cursor: pointer;
  background-color: #ff3366;
  color: #fff;
}

.sidebar .list .icon-modal-close {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 5px;
  right: 5px;
}

.sidebar .list .option {
  background-color: black;
  width: 0.6rem;
  border-radius: 50%;
  height: 0.6rem;
}

.sidebar .list .option:first-child {
  margin-bottom: 0.6rem;
}

.sidebar .add-list-container {
  padding: 2rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
}

@media (max-width: 36em) {
  .sidebar .add-list-container {
    padding: 2rem 3rem;
  }
}

@media (max-width: 75em) {
  .sidebar .add-list-container {
    font-size: 1.8rem;
  }
}

@media (max-width: 36em) {
  .sidebar .add-list-container {
    font-size: 1.6rem;
  }
}

.sidebar .add-list-container .add-list {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.sidebar .add-list-container .add-list svg {
  width: 2.2rem;
  height: 2.2rem;
  fill: #ff3366;
}

@media (max-width: 75em) {
  .sidebar .add-list-container .add-list svg {
    width: 1.8rem;
    height: 1.8rem;
  }
}

.sideBar-moveIn {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.todo {
  display: none;
}

.item {
  padding: 3rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 2px 2px -2px gray;
          box-shadow: 0 2px 2px -2px gray;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 36em) {
  .item {
    padding: 3rem;
  }
}

.item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item__check {
  width: 2.5rem;
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;
}

.item__check--done {
  background-color: #40d628;
  border: none;
}

.item__check img {
  width: 1.5rem;
  height: 1.5rem;
}

.item__title {
  font-size: 2rem;
  margin-left: 1rem;
  background: none;
  border: none;
  color: #000;
  outline: none;
  display: inline-block;
}

@media (max-width: 75em) {
  .item__title {
    font-size: 1.8rem;
  }
}

@media (max-width: 36em) {
  .item__title {
    font-size: 1.6rem;
  }
}

.item__title--done {
  text-decoration: line-through;
}

.item__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item__options img {
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
}

.item__options img:not(:first-child) {
  margin-left: 2rem;
}

.add-item {
  padding: 3rem 5rem;
  -webkit-box-shadow: 0 2px 2px -2px gray;
          box-shadow: 0 2px 2px -2px gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  cursor: pointer;
}

@media (max-width: 36em) {
  .add-item {
    padding: 3rem;
  }
}

@media (max-width: 75em) {
  .add-item {
    font-size: 1.8rem;
  }
}

@media (max-width: 36em) {
  .add-item {
    font-size: 1.6rem;
  }
}

.add-item svg {
  width: 2.2rem;
  height: 2.2rem;
  fill: #ff3366;
}

@media (max-width: 75em) {
  .add-item svg {
    width: 1.8rem;
    height: 1.8rem;
  }
}

.active {
  background-color: #ff3366;
  color: #fff;
}

.active .list__title {
  color: white !important;
  cursor: auto;
}

.active .list__icon {
  fill: currentColor;
}

.active:hover {
  background-color: #ff3366 !important;
  cursor: auto !important;
}

.active .option {
  background-color: white !important;
}

.show {
  display: block;
}

.hide {
  display: none !important;
}
/*# sourceMappingURL=main.css.map */