.about {
    background-color: $background-color-2;
    &__wrapper {
        display:flex;
        align-items: center;
        @include respond(tab-big){
            flex-direction: column-reverse;
        }
    }

    &__content {
        margin-left: 3rem;
        @include respond(tab-big){
            margin-bottom: 4rem;
            margin-left: 0;
        }
       
    }

    &__header {
        color:white;
        font-size: 2.2rem;
        margin-bottom: 1.6rem;
    }
}

.skills {
    background-color: $background-color-2;
    
    &__wrapper {
        display: grid;
        grid-template-columns:repeat(auto-fill,minmax(20rem,1fr));
        grid-gap:3rem;
        
        @include respond(desktop-big) {
            grid-gap:5rem;
        }

        @include respond(tab-big) {
            grid-template-columns: 1fr;
            margin:0 15rem;
        }

        
        @include respond(tab-small) {
            grid-template-columns: 1fr;
            margin:0 5rem;
        }

        @include respond(mobile) {
            grid-template-columns: 1fr;
            margin:0;
        }
    }
}