.about {
    &__wrapper {
        display: flex;
        @include respond(tab-big){
            flex-direction: column;
            text-align: center;
        }
    }

    &__info , &__img {
        flex:1;
    }

    &__img {
        display: flex;
        justify-content: flex-end;
        @include respond(tab-big){
            justify-content: center;
            margin-top: 2rem;
        }
        img {
            @include respond(tab-small){
                width:70%;
            }

            @include respond(mobile){
                width:90%;
            }
        }

    }

    &__header {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 2.5rem;
    }

    p {
        margin-bottom: 1.5rem;
    }
}