.footer {
    background-color: $bgc-color-1;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        

        &:first-child {
            
            @include respond(tab-small){
                flex-wrap: wrap;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                row-gap: 1.5rem;
            }
        }

        &:not(:last-child) {
            margin-bottom: 5rem;
        }
        
        p{
            text-transform: uppercase;
            letter-spacing: .1rem;
            margin-right: 1rem;
            color:white;
        }
    }

    &__link {
        font-size: 2rem;
        font-weight: bold;
        color:white;
        transition: all .3s;
        &:hover{
            color:$color-primary;
        }

        &:not(:last-child) {
            margin-right: 4rem;
            @include respond(tab-small){
                margin-right: 0;
            }
        }

        @include respond(tab-small){
            margin: 0 auto !important;
        }
    }

    &__newsletter {
        border:.3rem solid white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 .5rem;

        input {
            outline: none;
            padding: .7rem .5rem;
            margin-right: 1rem;

            background:none;
            border:none;
            color:white;

            &::placeholder {
                color:rgb(172, 165, 165);
                font-size: $font-small;
                font-weight: 300;
            }
        }
    }

    &__social-icon {
        &:not(:last-child){
            margin-right: 4rem;
        }
    }
}