.more-information {
  padding: $section-padding-desktop 0;
  position: relative;
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__bgc {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    z-index: -10;

    &--peach {
      top: auto;
      bottom: 0;
    }
  }
}

.newsletter {
  border: 1px solid black;
  border-radius: 3px;
  display: flex;
  align-items: center;
  width: 40rem;
  &__input {
    flex: 1;
    margin-right: 1rem;
    padding: 0 2.5rem;
    font-size: 1.5rem;
    font-weight: 300;
    border: none;
    background: none;
    outline: none;
    &::placeholder {
      color: inherit;
    }
  }

  &__btn {
    display: inline-block;
    color: #000;
    font-size: 1.5rem;
    padding: 1.5rem 2.5rem;
    background-color: $pastel-yellow;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

    &:hover {
      background-color: $pastel-yellow-dark;
    }
  }
}
