.posts {
  .posts-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 65rem);
  }
}

.post {
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &:hover > .post__hover-state {
    opacity: 1;
  }

  p {
    text-transform: uppercase;
  }

  // ################################################################
  // HEADING move top when hovering posts : paris, rome and greece
  &__heading {
    position: absolute;
    z-index: 3;
    transition: all 0.5s;
  }

  &:hover > &__heading {
    transform: translateY(-$content-padding-big);
  }

  // ################################################################
  // BUTTON move top when hovering posts : paris, rome and greece
  .animate {
    position: absolute;
    bottom: 90px;
    opacity: 0;
    transition: all 0.5s;
  }

  &:hover .animate {
    transform: translateY(-160px);
    opacity: 1;
  }

  &--paris {
    background: $pastel-pink;
    & > div {
      background-image: url(../img/paris.png);
    }
  }

  &--croatia {
    background-image: url(../img/grid-image-center.png);
  }

  &--rome {
    background-color: $pastel-orange;
    & > div {
      background-image: url(../img/rome.png);
    }
  }

  &--usa {
    background-image: url(../img/grid-image-left.png);
  }

  &--greece {
    background-color: $pastel-blue;
    & > div {
      background-image: url(../img/greece.png);
    }
  }

  &--portugal {
    background-image: url(../img/grid-image-right.png);
  }

  // ################################################################
  // DARKER background when hovering deafault posts (those with background img already)
  &--default {
    color: #fff;
    &:hover::after {
      opacity: 0.4;
    }

    &::after {
      content: '';
      background-color: black;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all 0.5s;
      z-index: 1;
    }
  }

  &__hover-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    background-size: cover;
    opacity: 0;

    transition: all 0.5s;

    p {
      margin-bottom: $content-padding-big;
    }
  }
}
