.posts {
  .posts-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include respond(desktop-small) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
    }
    @include respond(tab-small) {
      grid-template-columns: 1fr;
    }
  }
  @include respond(desktop-small) {
    padding: 1rem;
  }
}

.post {
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  // to make square grid children
  &::before {
    content: '';
    padding-bottom: 100%;
    display: inline-block;
    vertical-align: top;
  }

  &:hover > .post__hover-state {
    opacity: 1;
  }

  @include respond(desktop-small) {
    pointer-events: none;
  }

  p {
    text-transform: uppercase;
  }

  // ################################################################
  // HEADING move top when hovering posts : paris, rome and greece
  &__heading {
    position: absolute;
    z-index: 3;
    transition: all 0.5s;
    @include respond(desktop-small) {
      position: relative;
      bottom: $content-padding-big;
    }
  }

  &:hover > &__heading {
    transform: translateY(-$content-padding-big);
  }

  // ################################################################
  // BUTTON move top when hovering posts : paris, rome and greece
  .animate {
    position: relative;
    top: 3 * $content-padding-big;
    opacity: 0;
    transition: all 0.5s;
    @include respond(desktop-small) {
      opacity: 1;
      position: relative;
      top: $content-padding-big;
    }
  }

  &:hover .animate {
    transform: translateY(2 * -$content-padding-big);
    opacity: 1;
  }

  &--paris {
    background: $pastel-pink;
    & > div {
      background-image: url(../img/paris.png);
    }
  }

  &--croatia {
    background-image: url(../img/grid-image-center.png);
  }

  &--rome {
    background-color: $pastel-orange;
    & > div {
      background-image: url(../img/rome.png);
    }
    @include respond(desktop-small) {
      grid-column: 2/-1;
    }
    @include respond(tab-small) {
      grid-column: 1/2;
    }
  }

  &--usa {
    background-image: url(../img/grid-image-left.png);
  }

  &--greece {
    background-color: $pastel-blue;
    & > div {
      background-image: url(../img/greece.png);
    }
  }

  &--portugal {
    background-image: url(../img/grid-image-right.png);
    @include respond(desktop-small) {
      grid-row: 2/3;
    }
    @include respond(tab-small) {
      grid-column: 1/2;
    }
  }

  // ################################################################
  // DARKER background when hovering deafault posts (those with background img already)
  &--default {
    color: #fff;

    &:hover::after {
      opacity: 0.4;
    }

    &::after {
      content: '';
      background-color: black;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all 0.5s;
      z-index: 1;
      @include respond(desktop-small) {
        opacity: 0.4;
      }
    }
  }

  &__hover-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    background-size: cover;
    opacity: 0;

    transition: all 0.5s;

    @include respond(desktop-small) {
      opacity: 1;
    }

    p {
      margin-bottom: $content-padding-big;
    }
  }
}
