.benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  &__heading {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  &__desc {
    font-size: var(--font-size);
    text-align: center;
    width: 70%;
  }
}
