.hamburger {
  display: none;
  position: relative;
  z-index: 100;
  @include respond(tab-big) {
    display: inline-block;
  }

  &__outline {
    display: inline-block;
    height: 2.4rem;
  }

  &__bar {
    width: 3rem;
    height: 0.4rem;
    background-color: $color-primary;
    display: inline-block;
    position: relative;
    transition: all 0.5s;

    &::before,
    &::after {
      content: '';
      width: 100%;
      height: 0.4rem;
      background-color: $color-primary;
      position: absolute;
      transition: all 0.5s;
    }

    &::before {
      top: -0.8rem;
    }

    &::after {
      top: 0.8rem;
    }

    &--hidden {
      background: transparent;
      transition: all 0s;
    }
  }

  &--active &__bar::before {
    transform: translatey(0.8rem) rotate(45deg);
  }

  &--active &__bar::after {
    transform: translatey(-0.8rem) rotate(-45deg);
  }
}
