.hero__button , .footer__button {
    background-color: $color-main;
    color:black;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s; 

    &:hover{
        color:black;
        background-color:$color-main-darker;
        transform: translateY(-2px);
    }

    &:active {
        transform: translateY(0);
    }
}


.hero__button {
    margin-top: 50px;
    display: inline-block;
    padding:15px 30px;
    @include respond(tab-big){
        margin-top: 30px;
    }

    @include respond(mobile){
        padding:10px 25px;
    }
}

.footer__button {
        width: 100%;
        height: 40px;
        margin-top: 12px;
        box-shadow: 0 4px 7px  rgba(0, 0, 0, 0.2);
}