.button {
    width: 290px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    transition: all .3s;
    box-shadow: 0 5px 7px rgba(black,.15);

    @include respond(mobile){
        font-size: 16px;
    }

    &--bisque {
        margin-top: 20px;
        background-color:$color-secondary ;
        @include respond(mobile){
            width: 200px;
            height: 40px;

        }
    }

    &--green {
        background-color: $color-primary;
        margin-left: 30px;
        @include respond(mobile){
            margin-left: 15px;
        }
    }

    &--border{
        border:1px solid black;
    }

    &:hover {
        transform: translateY(-5px);
    }

    &:active {
        transform: translateY(2px);
    }
    
}