.button {
    width: 29rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: 1rem;
    transition: all .3s;
    box-shadow: 0 .5rem .7rem rgba(black,.15);

    @include respond(mobile){
        font-size: 1.6rem;
    }

    &--bisque {
        margin-top: 2rem;
        background-color:$color-primary ;
        @include respond(mobile){
            width: 20rem;
            height: 4rem;
            
        }
    }

    &--green {
        background-color: $color-primary;
        margin-left: 3rem;
        @include respond(mobile){
            margin-left: 1.5rem;
        }
        box-shadow: none
    }

    &--border{
        border:.1rem solid black;
        box-shadow: none
    }

    &:hover {
        transform: translateY(-5px);
    }

    &:active {
        transform: translateY(0);
    }
    
}