.hero__button {
    border:3px solid $color-main;
    color:white;
    font-size: 20px;
    font-weight: 500;
    margin-top: 50px;
    display: inline-block;
    padding:15px 30px;
    border-radius: 15px;
    position: relative;
    z-index: 20;
    overflow: hidden;

    @include respond(tab-big){
        margin-top: 30px;
    }

    @include respond(mobile){
        padding:10px 25px;
        font-size: 16px;
    }

    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $color-main;
        top:0;
        left:-100%; 
        transition: transform .5s; 
        z-index: -10;  
    }

    &:hover{
        color:black;
    }

    &:hover::after{
        transform: translateX(100%);
    }
}