.header {
    &__nav-box-scroll {
        background-color: $color-main;
        display: inline-block;
        padding:1.5rem;
        border-radius: 50%;
        position: fixed;
        transition: all .2s;
    }

    &__nav-outside {
        display: inline-block;
        padding:  1rem 1.5rem;
        position: relative;
        cursor: pointer;
        z-index: 200;
    }

    &__nav {
        width:3rem;
        height:.4rem;
        background-color:$color-main;
        position: absolute;
        left:0;
        transition: transform .3s;

        &::before , &::after {
            content: '';
            width:100%;
            height: .4rem;
            background-color:inherit;
            position: absolute;
            transition: transform .3s;
            left:0;
        }

        &::before {
            bottom:100%;
            margin-bottom: .5rem;
        }

        &::after {
            top:100%;
            margin-top: .5rem;
        }
    }

    &--active &__nav::before {
        background-color: $color-main;
        transform: translateY(.9rem) rotate(45deg) ;
    }
      
    &--active &__nav::after {
        transform: translateY(-.9rem)  rotate(-45deg) ;
        background-color: $color-main;
    }
      
    &--active &__nav {
        background:transparent ;
    } 

    &--active ~ &__menu {
        transform: translateX(-100%);
    }

    &__menu {
        background-color: $background-color-2;
        position: absolute;
        width:100vw;
        height: 100vh;
        left:100%;
        top:0;
        z-index: 100;
        transition: transform .5s;

        ul {
            list-style: none;
            position: relative;
            top:50%;
            transform: translateY(-50%);
        }

        li {
            text-align: center;
            padding: .5rem 0;
            &:not(:first-child){
                margin-top: 2rem;
            }
        }

        a {
            color:white;
            font-size: 3rem;
            font-weight: 500;
            &:hover {
                color:$color-main;
            }
        }
    }
}