.skill {
    background-color: $background-color-1;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 7px;
    padding: 0 10px;

    &:last-child{
        @include respond(desktop-small) {
            display: none;
        }
        @include respond(tab-big) {
            display: flex;
        }
    }

    &__header {
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 10px;
    }
}