*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  // border: 2px solid gold;
  max-width: 144rem;
  margin: 0 auto;
  padding: 1rem 0;
}

section {
  margin-top: $margin-main-desktop;
}
