*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
}

.subheading {
  margin-top: $margin-main-desktop;
  margin-bottom: $margin-secondary-desktop;
}
