@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --font-size: 1.6rem;
  --heading: calc(var(--font-size) * 3.5);
  --subheading: calc(var(--font-size) * 2);
}

@include respond(tab-big) {
  :root {
    --font-size: 1.5rem;
  }
}

@include respond(mobile) {
  :root {
    --font-size: 1.4rem;
  }
}

.subheading {
  font-size: var(--subheading);
  font-weight: bold;
  text-align: center;
}

// #######################
// Landing page

.header__link {
  font-size: 1.8rem;
  color: $color-white;
  font-weight: 600;
}

.hero {
  &__heading {
    color: $color-white;
    font-size: var(--heading);
    font-weight: bold;
  }

  &__subheading {
    color: $color-white;
    font-size: var(--subheading);
    font-weight: 400;
  }

  &__cta {
    color: black;
    font-weight: bold;
    font-size: 1.8rem;
  }
}

.copy-right,
.socials {
  color: $color-white;
  font-size: var(--font-size);
  font-weight: 300;
}

.location {
  &__heading {
    font-size: var(--subheading);
    font-weight: 600;
    color: $color-white;
  }

  &__location {
    color: $color-white;
    font-weight: bold;
    font-size: 1rem;
  }
  &__desc {
    font-size: var(--font-size);
    font-weight: 300;
    color: $font-color-white-dark;
  }
}
