@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #323434;
}

.main {
  padding: 3rem 7rem;
  border-radius: 5px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main h2 {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 3rem;
}

.main .options {
  margin: 0 auto;
  width: 70%;
}

.option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.option:not(:first-child) {
  margin-top: 1rem;
}

.option p {
  font-size: 1.1rem;
  font-weight: 300;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin: 0 10px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e0e0e0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 30px;
}

.slider::before {
  content: '';
  position: absolute;
  background-color: #fe9d0b;
  height: 15px;
  width: 15px;
  right: 3px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 50%;
}

.switch input {
  display: none;
}

input:checked + .slider {
  background-color: #ffcd82;
}

input:checked + .slider::before {
  -webkit-transform: translateY(-50%) translateX(-20px);
          transform: translateY(-50%) translateX(-20px);
}

.generate-btn {
  margin-top: 2rem;
  padding: 0.8rem 1.5rem;
  font-weight: 500;
  width: 70%;
  font-size: 0.8rem;
  cursor: pointer;
  background-color: #fe9d0b;
  border-radius: 3px;
  border: none;
  color: White;
}

.generate-btn:hover {
  background-color: #fb9700;
}

.results {
  width: 70%;
  margin: 2rem auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.results .result {
  border: 1px solid black;
  padding: 0.8rem 1.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 0.8rem;
  font-weight: 300;
  border-radius: 3px;
}

.results .copy {
  border: 2px solid #fe9d0b;
  margin-left: 1rem;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 3px;
}

.results .copy:hover {
  background-color: #fe9d0b;
  color: White;
}
/*# sourceMappingURL=main.css.map */