.landing-page {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__blur {
    z-index: -1;
    height: 100%;
    width: 40%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(4px);

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -9;
      background-color: black;
      opacity: 0.1;
    }
  }

  &__bgc {
    background: linear-gradient(rgba(0, 0, 0, 0.3)),
      url('../img/background-hero.jpg');
    position: absolute;
    top: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  &__logo {
    display: flex;
    color: $color-white;
    font-size: 1.4rem;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
  }

  &__nav {
    ul {
      display: flex;
      align-items: center;
      list-style: none;
    }

    li {
      &:not(:first-child) {
        margin-left: 5rem;
      }
    }
  }
}

.hero {
  border-left: 0.5rem solid $color-white;
  padding: 5.5rem 8rem;

  &__subheading {
    margin-bottom: 5rem;
    margin-top: 1rem;
  }

  &__cta {
    background: $color-primary;
    padding: 1.5rem 5rem;
    border-radius: 0.3rem;
    transition: all 0.3s;
    &:hover {
      background: $color-primary-dark;
    }
  }
}

.socials {
  padding: 2rem 0;

  a {
    &:first-child {
      margin-right: 2.5rem;
    }
  }

  img {
    width: 3rem;
    height: 3rem;
  }
}
