@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
  padding: 1rem 0;
}

section {
  margin-top: 12rem;
}

:root {
  --font-size: 1.6rem;
  --heading: calc(var(--font-size) * 3.5);
  --subheading: calc(var(--font-size) * 2);
}

@media (max-width: 62em) {
  :root {
    --font-size: 1.5rem;
  }
}

@media (max-width: 36em) {
  :root {
    --font-size: 1.4rem;
  }
}

.subheading {
  font-size: var(--subheading);
  font-weight: bold;
  text-align: center;
}

.header__link {
  font-size: 1.8rem;
  color: #fefefe;
  font-weight: 600;
}

.hero__heading {
  color: #fefefe;
  font-size: var(--heading);
  font-weight: bold;
}

.hero__subheading {
  color: #fefefe;
  font-size: var(--subheading);
  font-weight: 400;
}

.hero__cta {
  color: black;
  font-weight: bold;
  font-size: 1.8rem;
}

.copy-right,
.socials {
  color: #fefefe;
  font-size: var(--font-size);
  font-weight: 300;
}

.location__heading {
  font-size: var(--subheading);
  font-weight: 600;
  color: #fefefe;
}

.location__location {
  color: #fefefe;
  font-weight: bold;
  font-size: 1rem;
}

.location__desc {
  font-size: var(--font-size);
  font-weight: 300;
  color: #c4c4c4;
}

.benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
}

.benefit__heading {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.benefit__desc {
  font-size: 1.5rem;
  text-align: center;
  width: 70%;
}

.benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
}

.benefit__heading {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.benefit__desc {
  font-size: 1.5rem;
  text-align: center;
  width: 70%;
}

.landing-page {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5))), url("../img/background-hero.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5)), url("../img/background-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fefefe;
  font-size: 1.4rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.header__nav li:not(:first-child) {
  margin-left: 5rem;
}

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__subheading {
  margin-bottom: 2.5rem;
  margin-top: 5rem;
}

.hero__cta {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#61e786), to(#42ffcb));
  background: linear-gradient(to right, #61e786, #42ffcb);
  padding: 1.5rem 5rem;
  border-radius: 1rem;
}

.copy-right,
.socials {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  top: 50%;
  line-height: 1px;
}

.copy-right span,
.socials span {
  display: inline-block;
  width: 5rem;
  background-color: #fefefe;
  margin: 0 0.5rem;
  height: 1px;
}

.copy-right {
  left: -3rem;
}

.socials {
  right: -3rem;
}

.socials a {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.socials a:not(:first-child) {
  margin-right: 1rem;
}

.benefits-container {
  margin-top: 6rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 2rem;
}

.locations-container {
  margin-top: 6rem;
  background-color: #1a1919;
  border: 2px solid gold;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
}

.locations-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  position: relative;
  z-index: 1;
}

.locations-img::after {
  content: '1';
  width: 100%;
  height: 10rem;
  background: red;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0.5;
  display: block;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  margin: 0 auto;
}

.location__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
}

.location__location img {
  margin-right: 0.5rem;
}
/*# sourceMappingURL=main.css.map */