@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'base/base';
@import 'base/typography';

@import 'components/benefit';
@import 'components/book-btn';

@import 'layout/landing-page';
@import 'layout/benefits-locations';
@import 'layout/reviews';
