@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Bai Jamjuree', sans-serif;
  scroll-behavior: smooth;
}
