@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

$violet: hsl(257, 40%, 49%);
$soft-magenta: hsl(300, 69%, 71%);

$font-sans: 'Open Sans', sans-serif;
$font-poppins: 'Poppins', sans-serif;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: $violet;
}

.container {
  max-width: 140rem;
  margin: 0 auto;

  // 1500 px
  @media (max-width: 93.75em) {
    padding: 0 5rem;
  }
  // 600 px
  @media (max-width: 37.5em) {
    padding: 0 3rem;
  }
}
