*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;    
}

html{
    background-color: $background-color-1;
    scroll-behavior: smooth;
    overflow-x: hidden;

}

body {
    overflow-x: hidden;
    position: relative;
}

.container{
    margin: 0 auto;
    width:100%;
    
    @include respond(mobile){
        width: 100%;
    }

    @include respond(tab-small){
        max-width:540px;
        
    }

    @include respond(tab-big){
        max-width:720px;
        padding: 0 35px;
    }

    @include respond(desktop-small){
        max-width:960px;
    }

    @include respond(desktop){
        max-width:1140px;
    }

    @include respond(desktop-big){
        max-width:1440px;
    }
}


.section-padding {
    padding: 80px 0;
    @include respond(desktop-small){
        padding: 60px 0;
    }
    @include respond(mobile){
        padding: 40px 0;
    }
}
