@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');


.section-header {
    font-size: $headers-font-size;
    font-weight: 500;
    margin-bottom:$content-padding-desktop ;
    @include respond(desktop-small){
        margin-bottom:$content-padding-tablet ;
    }
    @include respond(mobile){
        margin-bottom:$content-padding-mobile ;
    }
}