@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');


.section-header {
    font-size: $headers-font-size;
    font-weight: 500;
    margin-bottom:$content-padding-desktop ;
    color:white;
    text-align: center;
    @include respond(desktop-small){
        margin-bottom:$content-padding-tablet ;
    }
    @include respond(mobile){
        margin-bottom:$content-padding-mobile ;
    }
}


.hero{
    &__header{
        font-size: 40px;
        font-weight: bold;
        color:$color-main;
        position: relative;
        display: inline-block;

        @include respond(mobile){
            font-size: 35px;
        }

        &::after{
            content:'Developer';
            font-size: 16px;
            font-weight: 300;
            color:white;
            position: absolute;
            top:100%;
            left:0;
            @include respond(tab-big){
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    &__desc {
        margin-top: 50px;
        font-size: 20px;
        font-weight: 300;
        color:white;

        @include respond(mobile){
            font-size: 16px;
        }
    }
}

.description {
    color:white;
    font-weight: 300;
    font-size: $content-font-size;

    &--mb{
        margin-bottom: 10px;
    }

    &--display-none {
        @include respond(mobile){
            display: none;
        }
    }
}
