@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 5rem;
}

@media (max-width: 37.5em) {
  .container {
    padding: 0 2rem;
  }
}

.header {
  background: #1c2431;
}

.features {
  background: #181f2a;
}

.header {
  padding: 7rem 0;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .nav__list li:not(:first-child) {
  margin-left: 4rem;
}

.header .nav__link {
  font: 400 1.4rem 'Raleway', sans-serif;
  color: white;
}

.main {
  padding-bottom: 15rem;
  background: url(../images/bg-curvy-desktop.svg) no-repeat, #1c2431;
  background-position: bottom;
  background-size: cover;
  text-align: center;
}

.main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__heading {
  margin-top: 5rem;
  max-width: 60rem;
}

.main__desc {
  max-width: 45rem;
  margin-top: 2.5rem;
  margin-bottom: 3rem;
}

.features .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(40rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 10rem;
}

.feature {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.feature__heading {
  font: 700 1.8rem 'Raleway', sans-serif;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.feature__desc {
  font: 400 1.4rem 'Open Sans', sans-serif;
  max-width: 38rem;
}

.heading,
.desc,
.btn {
  color: white;
}

.heading {
  font: 700 2.8rem 'Raleway', sans-serif;
  line-height: 1.5;
}

.desc {
  font: 400 1.4rem 'Open Sans', sans-serif;
  line-height: 1.7;
}

.btn {
  font: 700 1.4rem 'Raleway', sans-serif;
  padding: 2rem 10rem;
  border-radius: 4rem;
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(to right, #65e2d9, #339ecc);
  position: relative;
  z-index: 10;
  overflow: hidden;
}

.btn::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #65e2d9;
  top: 0;
  left: -100%;
  z-index: -10;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn:hover {
  cursor: pointer;
}

.btn:hover::before {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
/*# sourceMappingURL=main.css.map */