.star,
.circle {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
}

.star {
  // landing page
  &--1 {
    top: 19rem;
    left: 60%;
  }
  &--2 {
    top: 60%;
    left: 10rem;
  }
  &--3 {
    top: 90%;
    left: 64%;
  }

  // about
  &--4 {
    top: 80%;
    left: 3%;
  }

  // newsletter
  &--5 {
    top: 40%;
    left: 90%;
  }
}

.circle {
  // newsletter
  &--2 {
    top: 30%;
    left: 15%;
  }
}

.twig {
  position: absolute;
  top: 3rem;
  right: 0;
}

.waves {
  z-index: 10;
  position: absolute;
  top: 100%;
  transform: translateY(-50%);
}
