// #############################
// HEADER
header {
  padding-top: 13rem;
  padding-bottom: 7rem;
  text-align: center;
  @media (max-width: 37.5em) {
    padding-top: 7rem;
    padding-bottom: 3rem;
  }
}

// #############################
// SNIPPETS
.snippets {
  padding: 15rem 0;

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10rem;
    align-items: center;

    @media (max-width: 60em) {
      grid-template-columns: 1fr;
      grid-row-gap: 7rem;
    }

    img {
      grid-row: 1/4;
      position: relative;
      width: 125%;
      left: -25%;

      @media (max-width: 60em) {
        width: 100%;
        position: static;
      }
    }
  }

  &__snippets {
    display: flex;
    flex-direction: column;
    gap: 7rem;
    @media (max-width: 60em) {
      text-align: center;
      align-items: center;
    }
  }

  &__snippet {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .desc {
      max-width: 39rem;
    }
  }
}

// #############################
// ANYWHERE
.anywhere {
  text-align: center;
  img {
    width: 100%;
  }
}

// #############################
// WORKFLOW

.workflow {
  padding: 15rem 0;

  &__features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-column-gap: 4rem;
    grid-row-gap: 6rem;
  }

  &__feature {
    text-align: center;

    img {
      height: 4rem;
    }

    .subheading {
      margin-top: 2.5rem;
      margin-bottom: 1.5rem;
    }
  }

  &__corporations {
    padding-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-row-gap: 6rem;
    justify-items: center;
    align-items: center;
  }
}

// #############################
// FOOTER

.footer {
  background-color: lighten($grayish-blue, 30%);
  margin-top: 15rem;
  padding: 7rem 0;

  .container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    @media (max-width: 60em) {
      grid-template-columns: 1fr;
      justify-items: center;
      grid-row-gap: 5rem;
    }
  }

  &__column {
    &:last-child {
      justify-self: end;
      display: flex;
      gap: 2rem;
      @media (max-width: 60em) {
        justify-self: center;
      }
    }
  }

  &__link {
    color: $grayish-blue;
    font-size: 1.7rem;
    transition: all 0.2s;
    &:hover {
      color: $strong-cyan;
    }
  }

  ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    @media (max-width: 60em) {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }

  img {
    width: 6rem;
  }

  svg {
    fill: $dark-grayish-blue;
    width: 3rem;
    height: 3rem;
    transition: all 0.2s;

    &:hover {
      cursor: pointer;
      fill: $strong-cyan;
    }
  }
}
