@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Bai Jamjuree', sans-serif;
  background: url(../images/bg-header-desktop.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 5rem;
}

@media (max-width: 37.5em) {
  .container {
    padding: 0 2rem;
  }
}

.heading-primary,
.heading,
.subheading {
  color: #4c545d;
  font-weight: 600;
}

.heading-primary {
  font-size: 3.6rem;
}

@media (max-width: 37.5em) {
  .heading-primary {
    font-size: 3rem;
  }
}

.heading {
  text-align: center;
  font-size: 2.8rem;
}

@media (max-width: 37.5em) {
  .heading {
    font-size: 2.4rem;
  }
}

.subheading {
  font-size: 2rem;
}

@media (max-width: 37.5em) {
  .subheading {
    font-size: 1.9rem;
  }
}

.desc {
  color: #9fabb2;
  max-width: 65rem;
  font-size: 1.7rem;
  line-height: 1.5;
}

@media (max-width: 37.5em) {
  .desc {
    font-size: 1.6rem;
  }
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

@media (max-width: 37.5em) {
  .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.btn {
  font-size: 1.8rem;
  color: #fff;
  padding: 1.5rem 3.5rem;
  border-radius: 3rem;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn:hover {
  cursor: pointer;
}

.btn--cyan {
  background-color: #26baa4;
  -webkit-box-shadow: 0 3px 2px #1d907f;
          box-shadow: 0 3px 2px #1d907f;
}

.btn--cyan:hover {
  background-color: #2acfb7;
}

.btn--blue {
  background-color: #6173ff;
  -webkit-box-shadow: 0 3px 2px #2e46ff;
          box-shadow: 0 3px 2px #2e46ff;
}

.btn--blue:hover {
  background-color: #7a8aff;
}

@media (max-width: 37.5em) {
  .btn {
    font-size: 1.6rem;
  }
}

.u-text-center {
  text-align: center;
  margin: 0 auto;
}

.u-margin-top-bottom {
  margin-top: 2.5rem;
  margin-bottom: 5rem;
}

@media (max-width: 37.5em) {
  .u-margin-top-bottom {
    margin-bottom: 3.5rem;
  }
}

header {
  padding-top: 13rem;
  padding-bottom: 7rem;
  text-align: center;
}

@media (max-width: 37.5em) {
  header {
    padding-top: 7rem;
    padding-bottom: 3rem;
  }
}

.snippets {
  padding: 15rem 0;
}

.snippets__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 10rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 60em) {
  .snippets__wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 7rem;
  }
}

.snippets__wrapper img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  position: relative;
  width: 125%;
  left: -25%;
}

@media (max-width: 60em) {
  .snippets__wrapper img {
    width: 100%;
    position: static;
  }
}

.snippets__snippets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7rem;
}

@media (max-width: 60em) {
  .snippets__snippets {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.snippets__snippet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

.snippets__snippet .desc {
  max-width: 39rem;
}

.anywhere {
  text-align: center;
}

.anywhere img {
  width: 100%;
}

.workflow {
  padding: 15rem 0;
}

.workflow__features {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-column-gap: 4rem;
  grid-row-gap: 6rem;
}

.workflow__feature {
  text-align: center;
}

.workflow__feature img {
  height: 4rem;
}

.workflow__feature .subheading {
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

.workflow__corporations {
  padding-top: 10rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-row-gap: 6rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  background-color: #f4f5f6;
  margin-top: 15rem;
  padding: 7rem 0;
}

.footer .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 60em) {
  .footer .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
    grid-row-gap: 5rem;
  }
}

.footer__column:last-child {
  justify-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

@media (max-width: 60em) {
  .footer__column:last-child {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.footer__link {
  color: #9fabb2;
  font-size: 1.7rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer__link:hover {
  color: #26baa4;
}

.footer ul {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}

@media (max-width: 60em) {
  .footer ul {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
  }
}

.footer img {
  width: 6rem;
}

.footer svg {
  fill: #4c545d;
  width: 3rem;
  height: 3rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer svg:hover {
  cursor: pointer;
  fill: #26baa4;
}
/*# sourceMappingURL=main.css.map */