*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding: 0 10rem;

  @include respond(desktop-big) {
    padding: 0;
  }

  @include respond(tab-big) {
    padding: 0 7rem;
  }
  @include respond(tab-small) {
    padding: 0 6rem;
  }
  @include respond(mobile) {
    padding: 0 3rem;
  }
}

section {
  margin-top: $section-margin-top-desktop;
  @include respond(tab-big) {
    margin-top: $section-margin-top-tablet;
  }
  @include respond(mobile) {
    margin-top: $section-margin-top-mobile;
  }
}
