@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

.header {
  &__logo {
    font-size: 2.5rem;
    font-weight: bold;
    color: $font-color-black;
    @include respond(desktop-big) {
      font-size: 3.5rem;
    }
    @include respond(tab-big) {
      font-size: 2rem;
    }
    @include respond(mobile) {
      font-size: 1.8rem;
    }
  }

  &__link {
    color: $font-color-black-light;
    font-size: 1.8rem;
    font-weight: 300;

    &--active {
      font-weight: 600;
      color: $font-color-black;
    }

    @include respond(tab-big) {
      font-size: 1.6rem;
    }
    @include respond(tab-small) {
      font-size: 4rem;
      font-weight: 300;
      color: $font-color-black;
    }
  }
}

.hero {
  &__heading {
    font-size: 3.5rem;
    font-weight: 600;
    @include respond(desktop-big) {
      font-size: 4rem;
    }
    @include respond(desktop-small) {
      font-size: 3rem;
    }
    @include respond(tab-small) {
      font-size: 2.8rem;
    }
    @include respond(mobile) {
      font-size: 2.6rem;
    }
  }

  &__desc {
    font-size: 1.8rem;
    font-weight: 300;
    color: #f4f4f4;
    @include respond(desktop-big) {
      font-size: 2rem;
    }
    @include respond(tab-small) {
      font-size: 1.6rem;
    }
  }

  &__cta {
    color: $font-color-black;
    font-size: 1.6rem;
    font-weight: 600;

    @include respond(mobile) {
      font-size: 1.4rem;
    }
  }
}
