@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100vh;
  background: #ff7a7a url(../images/bg-intro-desktop.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 111rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content {
  color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 3rem;
}

.content__heading {
  font-size: 4rem;
}

.content__desc {
  font-size: 1.6rem;
  margin-top: 2rem;
}

.form-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.form-box .try-free {
  color: #fff;
  background-color: #6055a5;
  display: inline-block;
  width: 100%;
  margin-bottom: 2rem;
  padding: 2rem 3rem;
  border-radius: 0.7rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
}

.form-box .try-free span {
  font-weight: 700;
}

.form {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4rem;
  border-radius: 0.7rem;
}

.form__input, .form__btn {
  padding: 2rem 3rem;
  border-radius: 5px;
  font-weight: 600;
}

.form__input {
  border: 1px solid lightgray;
  outline-width: 1px;
}

.form__input:not(:first-child) {
  margin-top: 2rem;
}

.form__input::-webkit-input-placeholder {
  text-transform: capitalize;
  font-weight: 600;
}

.form__input:-ms-input-placeholder {
  text-transform: capitalize;
  font-weight: 600;
}

.form__input::-ms-input-placeholder {
  text-transform: capitalize;
  font-weight: 600;
}

.form__input::placeholder {
  text-transform: capitalize;
  font-weight: 600;
}

.form__btn {
  display: inline-block;
  text-align: center;
  background-color: #38cc8c;
  color: #fff;
  border: none;
  text-transform: uppercase;
  margin-top: 2rem;
  font-size: 1.6rem;
}

.form__btn:hover {
  cursor: pointer;
  background-color: #8fe0bd;
}

.form__terms {
  margin-top: 2rem;
  text-align: center;
  color: #b9b6d3;
}

.form__terms span {
  color: #ff7a7a;
  font-weight: 600;
}

.u-message {
  margin-top: 0.3rem;
  text-align: right;
  color: #ff7a7a;
  display: none;
}

.u-show {
  display: block;
}

.u-border-red {
  border-color: #ff7a7a;
}

.u-border-red::-webkit-input-placeholder {
  color: #ff7a7a;
  text-transform: lowercase;
}

.u-border-red:-ms-input-placeholder {
  color: #ff7a7a;
  text-transform: lowercase;
}

.u-border-red::-ms-input-placeholder {
  color: #ff7a7a;
  text-transform: lowercase;
}

.u-border-red::placeholder {
  color: #ff7a7a;
  text-transform: lowercase;
}
/*# sourceMappingURL=main.css.map */