@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

$font-Montserrat: 'Montserrat', sans-serif;
$font-Lora: 'Lora', serif;

.hero__heading {
  font-size: $heading-primary-dekstop;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

  &--red {
    color: $pastel-red;
  }
  @include respond(tab-big) {
    font-size: $heading-primary-tablet;
    text-transform: none;
  }
  @include respond(mobile) {
    font-size: $heading-mobile;
    font-weight: normal;
  }
}

.hero__subheading {
  font-size: $heading-desktop;
  text-align: center;
  font-weight: normal;

  @include respond(tab-big) {
    font-size: $heading-tablet;
  }
  @include respond(mobile) {
    font-weight: bold;
    text-transform: uppercase;

    font-size: $heading-primary-mobile;
  }
}

h3 {
  font-size: $heading-desktop;
  font-weight: 600;
  text-align: center;
  margin-bottom: $content-padding-big;
  @include respond(tab-big) {
    font-size: $heading-tablet;
  }
  @include respond(mobile) {
    font-size: $heading-mobile;
  }
}

.about__desc {
  font-size: $base-font-size;
  font-family: $font-Lora;
}

.post p {
  font-weight: 600;
  font-size: $heading-desktop;
  text-align: center;
  padding: 0;
  @include respond(tab-big) {
    font-size: $heading-tablet / 1.1;
  }
  @include respond(mobile) {
    font-size: $heading-mobile * 1.3;
  }
}

.footer {
  font-size: 1.5rem;
  font-weight: 300;
}
