.footer {
  background-color: $color-dark;
  padding: 4rem 0;
  color: #fff;

  .container {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    @include respond(tab-big) {
      grid-template-columns: 1fr;
      grid-row-gap: $content-padding-small;
    }
  }

  .column {
    align-self: center;
    &--1 {
      justify-self: start;

      & > * {
        cursor: pointer;
        width: 3rem;
        height: 3rem;
        fill: #fff;
        transition: all 0.3s;
        &:not(:first-child) {
          margin-left: 2rem;
        }
        &:hover {
          fill: $pastel-yellow;
        }
      }
    }

    &--2 {
      justify-self: center;
      @include respond(tab-big) {
        display: none;
      }
    }

    &--3 {
      justify-self: end;
    }
    @include respond(tab-big) {
      justify-self: center !important;
    }
  }
}
