// Colors :

$color-primary: #61e786;
$color-dark: #1a1919;
$color-white: #fefefe;

// Font :

$font-size: 1.6rem;
$font-size-tab: 1.5rem;
$font-size-mobile: 1.4rem;

$font-size-heading: 4 * $font-size;
$font-size-subheading: 2 * $font-size;
$font-size-heading-tab: 4 * $font-size-tab;
$font-size-subheading-tab: 2 * $font-size-tab;
$font-size-heading-mobile: 4 * $font-size-mobile;
$font-size-subheading-mobile: 2 * $font-size-mobile;

$font-color-black-light: #262626;
$font-color-white-dark: #c4c4c4;

// Margins

$margin-main-desktop: 12rem;
$margin-main-tab: 10rem;
$margin-main-mobile: 8rem;

$margin-secondary-desktop: 6rem;
$margin-secondary-mobile: 5rem;
