// Colors :

$color-primary: #61e786;
$color-primary-dark: #3de46c;
$color-dark: #1a1919;
$color-white: #fefefe;
$color-white-dark: #e7e7e7;

// Font :

$font-color-black-light: #262626;
$font-color-white-dark: #c4c4c4;

// Margins

$margin-main-desktop: 12rem;
$margin-main-tab: 10rem;
$margin-main-mobile: 8rem;

$margin-secondary-desktop: 6rem;
$margin-secondary-mobile: 5rem;
